@import "../styles/font.css";

.home-Button {
    text-decoration: none;
    display: flex;
    font-family: Tangerine;
    height: 100%;
    width: fit-content;
    align-items: center;
    padding: 0px 2%;
    cursor: pointer;
}

.home-Button:hover {
    color: goldenrod;
}

.nav-Button {
    display: flex;
    align-items: center;
    min-width: 60px;
    max-width: 100px;
    padding: 2% 2%;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-Button:hover {
    color: goldenrod;
}

.left {
    margin-right: auto;
}

.down-arrow{
    transform: translateY(3px);
    
}

/* .right{
    margin-left: auto;
} */